<% if user_signed_in? %>
		
		
		<%= render 'current_tasks' unless @current.empty? %>
		<br />
		
		<%= render 'next_tasks' unless @current.empty? %>
		
		<br /><br />
		<br /><br />
		
		<h2><%= link_to 'New Event', new_event_path %>
		<br /><br />
		<%= link_to 'My Ideas (unscheduled events)', ideas_path %>
		</h2>


		<footer></footer>





<% else %>
<h2> You must sign in before you can view any events </h2>
<% end %> 
	