header, footer, nav, article, section {display:block}
img {border: 0}

body {
	color: #574d4f;
	font: 25px/1.3em "Segoe UI", Verdana, sans-serif;
	margin: 0;
	background: #fff
}

#overlay-t {
	height: 0;
	width: 100%;
	position: absolute;
	z-index: 10;
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* IE10 */ 
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Mozilla Firefox */ 
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Opera */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(127, 127, 127, 0.1)));	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Proposed W3C Markup */ 
}

#overlay-r {
	height: 100%;
	width: 0;
	right: 0;
	position: absolute;
	z-index: 10;
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* IE10 */ 
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Mozilla Firefox */ 
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Opera */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(127, 127, 127, 0.1)));	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Proposed W3C Markup */ 
}

#overlay-b {
	height: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 10;
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* IE10 */ 
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Mozilla Firefox */ 
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Opera */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(127, 127, 127, 0.1)));	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Proposed W3C Markup */ 
}

#overlay-l {
	height: 100%;
	width: 0;
	position: absolute;
	z-index: 10;
	background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* IE10 */ 
	background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%); /* Mozilla Firefox */ 
	background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Opera */ 
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(127, 127, 127, 0.1)));	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Webkit (Chrome 11+) */
	background-image: linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.1) 100%);	/* Proposed W3C Markup */ 
}

#arrow-left {
	position: absolute;
	top: 20px;
	right: 100px;
	width: 0;
	height: 0;
	border-top: 56px solid transparent;
	border-bottom: 56px solid transparent;
	border-right: 56px solid #abd03d
}

#config-container {
	position: absolute;
	right: 0;
	top: 32px;
	width: 100px;
	height: 100px;
	background: #abd03d
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #abd03d;
	margin: 0 -80px 0 -30px
}

#config {
	position: absolute;
	right: 30px;
	top: 35px
}

#weather {
	position: relative;
	top: 5px;
	margin: 15px 0 0 20px
}

#white {
    color: white;
}

header {
	background: #abd03d;	
}

h1 {
	color: #abd03d; 
	font-size: 52px; 
	padding-left: 25px; 
	display: inline;
}

h2 {
	color: #abd03d; 
	font-size: 30px;
	padding: 12px 0 12px 25px;
}

h3 {
	font-size: 36px; 
	padding: 20px 0 0 50px; 
	font-weight: inherit;
}

h4 {
	font-size: 33px; 
	padding-left: 70px; 
	margin: 25px 0;
	line-height: 110%;
	font-weight: inherit;
}
h5 {
	font-size: 1.1em; 
	padding: 0 0 0 0; 
	margin: 0 0 25px 0;
	line-height: 110%;
	font-weight: inherit;
}

h6 {
    margin: 40px 0 8px 0;
    padding-left: 0px;
}

h1, h2, h3 {text-transform: uppercase; line-height: 110%; margin: 0; }

table {margin: 20px 0 20px 80px}

.time {text-align: right; width: 100px}
.event {font-weight: lighter}

form {
    margin: 30px 30px 20px 30px;
}

form div {
    margin-bottom: 5px;
}

#links {
    margin-left: 30px;
}

