// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event {
	
	text-align: right;
	font-size: 1.4em; 
	font-weight:500;
	padding: 0 0.2em 0.2em; 
}
.eventTitle {

	font-size: 1.2em; 
	font-weight: lighter;
	padding: 0.3em 0.2em 0.4em 0.2em; 
}
.eventCategory {
	margin: 0.3em 0.3em 0.3em 0.3em; 
	font-size: 1.8em; 
	
}
.eventTableBuffer {

	padding: 0 1.7em 0.1em 1.7em; 
}
